<script language="JavaScript" type="text/javascript">
<!--
ib3(document, '<object type=\"application/x-shockwave-flash\" width=\"{{ banner_width }}\" height=\"{{ banner_height }}\" data=\"{{ swf_url }}{% if foreign_url %}?banner_href={{ banner_href }}{% endif %}\"><param name=\"movie\" value=\"{{ swf_url }}{% if foreign_url %}?banner_href={{ banner_href }}{% endif %}\" /> <param name=\"quality\" value=\"high\" /> <param name=wmode value=transparent /> <param name=AllowScriptAccess value=always /></object> ');
// -->
</script>
<noscript>
<object type="application/x-shockwave-flash" width="{{ banner_width }}" height="{{ banner_height }}" data="{{ swf_url }}{% if foreign_url %}?banner_href={{ banner_href }}{% endif %}">
<param name="movie" value="{{ swf_url }}{% if foreign_url %}?banner_href={{ banner_href }}{% endif %}" />
<param name="quality" value="high" />
<param name=wmode value=transparent />
<param name=AllowScriptAccess value=always>
</object>
</noscript>